.login-container {
    background-color: #38ba9b;
    min-height: 100vh;
}

.form-container {
    text-align: center;
    margin-top: 6rem;
}

.form {
    padding: 3rem 10rem;
    display: inline-block;
    text-align: left;
    background-color: #c53d95;
    border-radius: 5px;
    position: relative;
}

label {
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.form-input {
    display: block;
    border-radius: 5px;
    border: 1px solid #dddddd;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #f7f7f7;
    width: 30rem;
    font-family: 'Montserrat', sans-serif;
}

.input-row {
    margin-bottom: 1rem;
}

.login-btn {
    margin-top: 1rem;
    background-color: #38ba9b;
    font-size: 0.8rem;
    padding: 1rem 2.1rem;
    border: none;
    border-radius: .25rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all .2s;
}

.login-btn:hover {
    background-color: #39d1b1;
}

.logo {
    vertical-align: middle;
    border-style: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.margin-row{
    margin-top: 2rem;
}