<div class="container login-container">
    <h1 class="login-title">Ulogujte se na <br> E-Student</h1>
    <div class="form-container">
        <div class="form">
            <img src="assets/img/logo2.png" alt="" class="logo">
            <div class="row input-row margin-row">
                <div class="col-12">
                    <label for="email">Unesti e-mail ili broj indeksa</label>
                    <input type="text" class="form-input" name="email" id="email">
                </div>
            </div>
            <div class="row input-row">
                <div class="col-12">
                    <label for="password">Unesite lozinku</label>
                    <input type="text" class="form-input" name="password" id="password">
                </div>
            </div>
            <div class="row input-row">
                <div class="col-12 text-center">
                    <a routerLink="/stud-landing">
                        <button class="login-btn">Ulogujte se</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
