<div class="container stud-container">
    <app-navigation></app-navigation>
    <h1 class="login-title">dobrodošli</h1>
    <div class="news-container">
        <div class="news" *ngFor="let number of [1,2,4]">
            <div class="news-header">
                <p class="news-title">Lorem ipsum dolor</p>
                <p class="news-date">12.10.2019.</p>
            </div>
            <div class="news-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam commodi corporis culpa excepturi
                inventore itaque labore nesciunt nisi nobis odit placeat praesentium, quaerat quis repellendus
                reprehenderit sapiente sed sit soluta ut veritatis? Alias deleniti hic id ipsam iusto quia veritatis?
            </div>
        </div>
    </div>
</div>
